h1 {
    color: rgb(255, 255, 255);
    padding: 0px;
    text-align: center; 
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    
}

p {
    font-size: 15px;
    text-align: center; 
    color: rgb(255, 255, 255);
    padding:  0 30px 30px 30px;

}

header {
    background-color: #116418 !important;
}

.cursor {
    cursor: pointer;
}

.usuario {
    width: 100%;
}

a {
    font-weight: bold;
    color: #0e6137 ;
    text-decoration: none;
}

a:hover {
    color: #be2900;
    text-decoration: underline;
}

input:checked {
    background-color: #831515 !important;
}

input,
select {
    cursor: pointer;
}

.error {
    border: #1e2094 1px;
}

button {
    background-color: #12724d !important;
    width: 100%;
}

button:hover {
    background-color: #70231e !important; 
}

#forgot-pass {
    font-weight: bold;
    text-align: end;
    font-size: 12px;
}

.container2 {
    background-image:url("../img/1154.jpg");
    background-size: cover;
    height: 50px;
    animation: efect 5s ease-in-out infinite alternate;
}

footer {
    position: fixed;
    bottom: 0;
    right:0;
    left: 0;
    padding: 0px;
    background-color:#12724d; 
    color: #fff;
    text-align: center;
}

h2 {
    color: rgb(238, 238, 238);
    padding: 0px;
    text-align: center; 
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    margin-top: 0; 
}

