body {
    font-size: 22px;
}

p {
    font-size: 15px;
}

.formatos1 {
    color: rgb(150, 125, 125);
}

header {
    background-color: #162caa;
    height: 60px;
}

.inicio {
    border-bottom: 1px solid rgb(143, 50, 50);
}

.logo {
    padding: 15% 1%;
}

.logo img {
    width: 70%;
}

.logo2 img {
    width: 100%;
}

.funko {
    padding: 80px 100px;
}

h1 {
    letter-spacing: 3px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 25px;
    letter-spacing: 2px;
}

h4 {
    font-size: 17px;
    letter-spacing: 2px;
}

select {
    width: 100%;
    padding: 3px 20px;
}

.imagen img {
    width: 50%;
}

footer {
    background-color: #162caa;
    font-size: 30px;
    padding: 40px 40px;
    margin-top: 100px;
}

@media(max-width: 765px) {
    .logo img {
        width: 100%;
    }
}

button {
    background-color: #6fb6bb !important;
    width: 50%;
  }
  
  button:hover {
    background-color: #162caa !important; 
  }

.option {
    font-size: 15px;
}

